*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.contenedor{
    display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      width: 100%;
      max-width: 600px;
      padding: 0 20px;

}
#contenedor-input{
    display: flex;
    align-items: center;
    width: 100%;
    border: 3px solid #000000;
    background-color: #292929;
    border-radius: 10px;
}

#contenedor-input input{
    flex: 1;
      background: transparent;
      border: none;
      outline: none;
      color: #ccc;
      font-size: 11px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      padding: 14px 16px;
      
}

#contenedor-input input::placeholder {
    color: white;
    letter-spacing: 0.12em;
    font-size: 8px;
}

#botonAcceder{
    background: transparent;
      border: none;
      color: #ccc;
      font-size: 11px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      padding: 14px 16px;
      cursor: pointer;
      transition: color 0.2s, background-color 0.2s;
      white-space: nowrap;
}

#botonAcceder:hover{
    color: #fff;
    
    border-radius: 10px;
}

.texto{
    color: #6d6d6d;
    font-size: 15px;
}
.texto-a{
    text-decoration: none;
    color: #6d6d6d;
}


